**K-Means**

In [ ]:
weather = ["sunny", "sunny", "overcast", "rainy", "rainy", "rainy", "overcast", "sunny", "sunny", "rainy",
           'sunny', "overcast", "overcast", "rainy"]
temperature = ["hot", "hot", "hot", 'mild', 'cool', 'cool', 'cool', 'mild', 'cool', 'mild', 'mild', 'mild',
               'hot', 'mild']
play = ["no", "no", "yes", "yes", "yes", "no", "yes", "no", "yes", "yes", "yes", "yes", "yes", "no"]

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Weather" :weather,
     "Temperature" : temperature,
     "Play": play
    }
)
df

     Weather Temperature Play
0      sunny         hot   no
1      sunny         hot   no
2   overcast         hot  yes
3      rainy        mild  yes
4      rainy        cool  yes
5      rainy        cool   no
6   overcast        cool  yes
7      sunny        mild   no
8      sunny        cool  yes
9      rainy        mild  yes
10     sunny        mild  yes
11  overcast        mild  yes
12  overcast         hot  yes
13     rainy        mild   no

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()
weather_encoded = le.fit_transform(weather)
temperature_encoded = le.fit_transform(temperature)
play_encoded = le.fit_transform(play)

features = list(zip(weather_encoded, temperature_encoded ))

In [ ]:
df1 = pd.DataFrame(
    {
        "Weather" :weather_encoded,
     "Temperature" : temperature_encoded,
     "Play": play_encoded
    }
)
df1

    Weather  Temperature  Play
0         2            1     0
1         2            1     0
2         0            1     1
3         1            2     1
4         1            0     1
5         1            0     0
6         0            0     1
7         2            2     0
8         2            0     1
9         1            2     1
10        2            2     1
11        0            2     1
12        0            1     1
13        1            2     0

In [ ]:
km = KMeans(n_clusters=2)

In [ ]:
features

[(2, 1),
 (2, 1),
 (0, 1),
 (1, 2),
 (1, 0),
 (1, 0),
 (0, 0),
 (2, 2),
 (2, 0),
 (1, 2),
 (2, 2),
 (0, 2),
 (0, 1),
 (1, 2)]

In [ ]:
predicted = km.fit(features).predict(features)
predicted

array([1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1], dtype=int32)

In [ ]:
y_predicted = km.fit_predict(df1[["Weather", "Temperature"]])
y_predicted

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0], dtype=int32)

In [ ]:
print("Clusters Centers")
df["cluster"] = y_predicted
print(km.cluster_centers_)

Clusters Centers
[[1.375      1.75      ]
 [0.66666667 0.33333333]]

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('/content/Tree.csv')
df.head()

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()
height_encoded = le.fit_transform(df['Height'])
weight_encoded  = le.fit_transform(df['Weight'])
foot_size_encoded = le.fit_transform(df['Foot_Size'])
gender_encoded = le.fit_transform(df['Gender'])

In [ ]:
fearutes = list(zip(height_encoded,weight_encoded,foot_size_encoded))
label = df['Gender']

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
features

[(2, 1),
 (2, 1),
 (0, 1),
 (1, 2),
 (1, 0),
 (1, 0),
 (0, 0),
 (2, 2),
 (2, 0),
 (1, 2),
 (2, 2),
 (0, 2),
 (0, 1),
 (1, 2)]

In [ ]:
km = KMeans(n_clusters = 4)

In [ ]:
predicted = km.fit(features).predict(features)
print(predicted)

[0 0 2 1 3 3 2 0 3 1 0 1 2 1]

In [ ]:
print(km.cluster_centers_)

[[2.         1.5       ]
 [0.75       2.        ]
 [0.         0.66666667]
 [1.33333333 0.        ]]

**APRIORI**

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pd.read_excel('/content/online retail dataset.xlsx')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [ ]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['Invoice'], inplace=True)
df['Invoice'] = df['Invoice'].astype('str')
df = df[~df['Invoice'].str.contains('C')]
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
10,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
11,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
12,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
13,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
14,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom

In [ ]:
basket  = (df[df['Country']=='United Kingdom']
.groupby(['Invoice','Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.set_index('Invoice'))
basket

Description,ASSORTED COLOUR BIRD ORNAMENT,BLUE COAT RACK PARIS FASHION,CREAM CUPID HEARTS COAT HANGER,GLASS STAR FROSTED T-LIGHT HOLDER,HAND WARMER RED POLKA DOT,HAND WARMER UNION JACK,JAM MAKING SET WITH JARS,KNITTED UNION FLAG HOT WATER BOTTLE,POPPY'S PLAYHOUSE BEDROOM,RED COAT RACK PARIS FASHION,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,YELLOW COAT RACK PARIS FASHION
Invoice,,,,,,,,,,,,,,,
536365,0.0,0.0,8.0,6.0,0.0,0.0,0.0,6.0,0.0,0.0,6.0,2.0,6.0,6.0,0.0
536366,0.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0

In [ ]:
       def encode_units(x):
  if x<=0:
    return 0
  if x>=1:
    return 1
basket_sets = basket.applymap(encode_units)
basket_sets.drop('GLASS STAR FROSTED T-LIGHT HOLDER',inplace = True, axis=1)
basket_sets

Description,ASSORTED COLOUR BIRD ORNAMENT,BLUE COAT RACK PARIS FASHION,CREAM CUPID HEARTS COAT HANGER,HAND WARMER RED POLKA DOT,HAND WARMER UNION JACK,JAM MAKING SET WITH JARS,KNITTED UNION FLAG HOT WATER BOTTLE,POPPY'S PLAYHOUSE BEDROOM,RED COAT RACK PARIS FASHION,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,YELLOW COAT RACK PARIS FASHION
Invoice,,,,,,,,,,,,,,
536365,0,0,1,0,0,0,1,0,0,1,1,1,1,0
536366,0,0,0,1,1,0,0,0,0,0,0,0,0,0
536367,1,0,0,0,0,0,0,1,0,0,0,0,0,0
536368,0,1,0,0,0,1,0,0,1,0,0,0,0,1

In [ ]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ASSORTED COLOUR BIRD ORNAMENT),(POPPY'S PLAYHOUSE BEDROOM),0.25,0.25,0.25,1.0,4.0,0.1875,inf
1,(POPPY'S PLAYHOUSE BEDROOM),(ASSORTED COLOUR BIRD ORNAMENT),0.25,0.25,0.25,1.0,4.0,0.1875,inf
2,(JAM MAKING SET WITH JARS),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
3,(BLUE COAT RACK PARIS FASHION),(JAM MAKING SET WITH JARS),0.25,0.25,0.25,1.0,4.0,0.1875,inf
4,(BLUE COAT RACK PARIS FASHION),(RED COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf

In [ ]:
rules[ (rules['lift'] >= 6) & (rules['confidence'] >= 0.8) ]

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pd.read_excel('/content/online retail dataset.xlsx')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [ ]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['Invoice'], inplace=True)
df['Invoice'] = df['Invoice'].astype('str')
df = df[~df['Invoice'].str.contains('C')]
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
10,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
11,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
12,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
13,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
14,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom

In [ ]:
basket  = (df[df['Country']=='United Kingdom']
.groupby(['Invoice','Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.set_index('Invoice'))
basket

Description,ASSORTED COLOUR BIRD ORNAMENT,BLUE COAT RACK PARIS FASHION,CREAM CUPID HEARTS COAT HANGER,GLASS STAR FROSTED T-LIGHT HOLDER,HAND WARMER RED POLKA DOT,HAND WARMER UNION JACK,JAM MAKING SET WITH JARS,KNITTED UNION FLAG HOT WATER BOTTLE,POPPY'S PLAYHOUSE BEDROOM,RED COAT RACK PARIS FASHION,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,YELLOW COAT RACK PARIS FASHION
Invoice,,,,,,,,,,,,,,,
536365,0.0,0.0,8.0,6.0,0.0,0.0,0.0,6.0,0.0,0.0,6.0,2.0,6.0,6.0,0.0
536366,0.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0

In [ ]:
       def encode_units(x):
  if x<=0:
    return 0
  if x>=1:
    return 1
basket_sets = basket.applymap(encode_units)
basket_sets.drop('GLASS STAR FROSTED T-LIGHT HOLDER',inplace = True, axis=1)
basket_sets

Description,ASSORTED COLOUR BIRD ORNAMENT,BLUE COAT RACK PARIS FASHION,CREAM CUPID HEARTS COAT HANGER,HAND WARMER RED POLKA DOT,HAND WARMER UNION JACK,JAM MAKING SET WITH JARS,KNITTED UNION FLAG HOT WATER BOTTLE,POPPY'S PLAYHOUSE BEDROOM,RED COAT RACK PARIS FASHION,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,YELLOW COAT RACK PARIS FASHION
Invoice,,,,,,,,,,,,,,
536365,0,0,1,0,0,0,1,0,0,1,1,1,1,0
536366,0,0,0,1,1,0,0,0,0,0,0,0,0,0
536367,1,0,0,0,0,0,0,1,0,0,0,0,0,0
536368,0,1,0,0,0,1,0,0,1,0,0,0,0,1

In [ ]:
frequent_itemsets = apriori(basket_sets, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ASSORTED COLOUR BIRD ORNAMENT),(POPPY'S PLAYHOUSE BEDROOM),0.25,0.25,0.25,1.0,4.0,0.1875,inf
1,(POPPY'S PLAYHOUSE BEDROOM),(ASSORTED COLOUR BIRD ORNAMENT),0.25,0.25,0.25,1.0,4.0,0.1875,inf
2,(JAM MAKING SET WITH JARS),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
3,(BLUE COAT RACK PARIS FASHION),(JAM MAKING SET WITH JARS),0.25,0.25,0.25,1.0,4.0,0.1875,inf
4,(BLUE COAT RACK PARIS FASHION),(RED COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf

In [ ]:
rules[ (rules['lift'] >= 4) & (rules['confidence'] >= 0.6) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ASSORTED COLOUR BIRD ORNAMENT),(POPPY'S PLAYHOUSE BEDROOM),0.25,0.25,0.25,1.0,4.0,0.1875,inf
1,(POPPY'S PLAYHOUSE BEDROOM),(ASSORTED COLOUR BIRD ORNAMENT),0.25,0.25,0.25,1.0,4.0,0.1875,inf
2,(JAM MAKING SET WITH JARS),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
3,(BLUE COAT RACK PARIS FASHION),(JAM MAKING SET WITH JARS),0.25,0.25,0.25,1.0,4.0,0.1875,inf
4,(BLUE COAT RACK PARIS FASHION),(RED COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
...,...,...,...,...,...,...,...,...,...
651,(RED WOOLLY HOTTIE WHITE HEART.),"(KNITTED UNION FLAG HOT WATER BOTTLE, WHITE HA...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
652,(WHITE HANGING HEART T-LIGHT HOLDER),"(KNITTED UNION FLAG HOT WATER BOTTLE, RED WOOL...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
653,(SET 7 BABUSHKA NESTING BOXES),"(KNITTED UNION FLAG HOT WATER BOTTLE, RED WOOL...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
654,(WHITE METAL LANTERN),"(KNITTED UNION FLAG HOT WATER BOTTLE, RED WOOL...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
655,(CREAM CUPID HEARTS COAT HANGER),"(KNITTED UNION FLAG HOT WATER BOTTLE, RED WOOL...",0.25,0.25,0.25,1.0,4.0,0.1875,inf